.aboutproject {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 1280px;
    max-height: 680px;
}

.aboutproject__title {
    margin-top: 116px;
    padding-bottom: 21px;
    display: flex;
    max-width: 1140px;
    text-align: left;
    border-bottom: 1px black solid;
    font-family: "Inter";
    font-weight: 400;
    font-style:normal;
    font-size: 22px;
    line-height: auto;
    letter-spacing: -1px;
}

.aboutproject__subtitle {
    max-width: 1140px;
    display: flex;
    flex-direction: row;
}

.subtitle__text {
    margin-top: 70px;
    margin-bottom: 26px;
    margin-right: 40px;
    font-family: "Inter";
    font-weight: 400;
    font-style:normal;
    font-size: 20px;
    line-height: auto;
    text-align: left;
    letter-spacing: -0.8px;
}

.aboutproject__plan {
    max-width: 1140px;
    display: flex;
    flex-direction: row;
}

.plan__text {
    display: flex;
    margin-bottom: 107px;
    margin-right: 5px;
    font-family: "Inter";
    font-weight: 400;
    font-style:normal;
    font-size: 14px;
    line-height: 20px;
    text-align: left; 
}

.aboutproject__period {
    margin-bottom: 15px;
    max-width: 1140px;
    display: flex;
    flex-direction: row;
    background-color: #F2F2F2;
}

.period__text {
    padding-top: 14px;
    padding-bottom: 10px;
    font-family: "Inter";
    font-weight: 400;
    font-style:normal;
    font-size: 14px;
    line-height: auto;
    text-align: center;
}

.period__text:first-child {
    width: 25%;
    background-color: #2BE080;
}

.aboutproject__part {
    max-width: 1140px;
    display: flex;
    flex-direction: row;
}

.part__text {
    margin-bottom: 110px;
    font-family: "Inter";
    font-weight: 400;
    font-style:normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center; 
    color: #A0A0A0;
}

.part__text:first-child {
    width: 25%;
}