.header {
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1140px;
  }
  
  @media (max-width: 1279px) and (min-width: 768px) {
    .header {
      max-width: 95.5%;
    }
  }

  @media (max-width: 767px) and (min-width: 320px) {
    .header {
      max-width: 98%;
    }
  }

  .header__logo {
    padding: 0;
    margin: 18px auto 38px 0;
    display: flex;
    flex-direction: row;
    width: 38px;
  }

  @media (max-width: 1279px) and (min-width: 768px) {
    .header__logo {
      margin-left: 10px;
      margin-bottom: 32px;
    }
  }

  @media (max-width: 767px) and (min-width: 320px) {
    .header__logo {
      margin-left: 7px;
      margin-bottom: 32px;
    }
  }

  .header__links {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
  }

  .header__link {
    display: flex;
    justify-content: center;
    padding: 8px 20px;
    margin: 21px 0 41px 0;
    text-decoration: none;
    color: inherit;
    font-family: "Inter";
    font-weight: 400;
    font-style:normal;
    font-size: 12px;
    line-height: 16px;
  }

  @media (max-width: 767px) and (min-width: 320px) {
    .header__link {
      font-size: 10px;
      padding: 6px 12px 0;
      margin: 24px 0;
      max-height: 20px;
      vertical-align: center;
    }
  }

  .header__link:first-child {
    padding-right: 30px;
  }

  @media (max-width: 767px) and (min-width: 320px) {
    .header__link:first-child {
      padding-right: 14px;
    }
  }

 .header__link:nth-child(2) {
    background-color: #2be080;
 }

 @media (max-width: 767px) and (min-width: 320px) {
  .header__link:nth-child(2) {
    margin-right: 15px;
  }
}

 .header__link-in {
  display: flex;
  margin: 30px 16px 30px 44px;
  text-decoration: none;
  color: inherit;
  font-family: "Inter";
  font-weight: 400;
  font-style:normal;
  font-size: 13px;
  line-height: 18px;
  align-items: center;
}

  .header__link-in:nth-last-child(2) {
    margin-right: 60%;
    margin-left: 0;
}

  .header__profile {
   margin: 30px 20px;
   width: 100px;
   object-fit:contain;
 }
