.header {
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1140px;
  }
  
  @media (max-width: 1280px) and (min-width: 769px) {
    .header {
      max-width: 95.5%;
    }

    .header__link-in {
      display: flex;
      flex-direction: column;
      width: 100px;
      padding: 0;
      margin: 2px 16px 0 44px;
      text-decoration: none;
      color: inherit;
      font-family: "Inter";
      font-weight: 400;
      font-style:normal;
      font-size: 13px;
      line-height: 18px;
      align-items: center;
    }
    
      .header__link-in:nth-last-child(2) {
        margin-right: 66.6%;
        margin-left: 0;
    }
  }

  @media (max-width: 768px) and (min-width: 320px) {
    .header {
      max-width: 98%;
    }
  }

  .header__logo {
    padding: 0;
    margin: 18px auto 0 0;
    display: flex;
    flex-direction: row;
    width: 38px;
  }

  @media (max-width: 1280px) and (min-width: 769px) {
    .header__logo {
      margin-left: 10px;
      margin-bottom: 32px;
    }
  }

  @media (max-width: 767px) and (min-width: 320px) {
    .header__logo {
      margin-left: 7px;
      margin-bottom: 32px;
    }
  }

  .header__links {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
  }

  .header__link {
    display: flex;
    justify-content: center;
    padding: 8px 20px;
    margin: 21px 0 41px 0;
    text-decoration: none;
    color: inherit;
    font-family: "Inter";
    font-weight: 400;
    font-style:normal;
    font-size: 12px;
    line-height: 16px;
  }

  @media (max-width: 767px) and (min-width: 320px) {
    .header__link {
      font-size: 10px;
      padding: 6px 12px 0;
      margin: 24px 0;
      max-height: 20px;
      vertical-align: center;
    }
  }

  .header__link:first-child {
    padding-right: 30px;
  }

  @media (max-width: 767px) and (min-width: 320px) {
    .header__link:first-child {
      padding-right: 14px;
    }
  }

 .header__link:nth-child(2) {
    background-color: #2be080;
 }

 @media (max-width: 767px) and (min-width: 320px) {
  .header__link:nth-child(2) {
    margin-right: 15px;
  }
}

.header__links-in {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  display: flex;

}

@media (max-width: 768px) and (min-width: 320px) {
  .header__links-in {
    display: none;
    position: absolute;
    right: 0px;
    max-width: 708px;
    
  }

}

@media (max-width: 768px) and (min-width: 320px) {
 
  .header__overlay {
    display: none;
}

.header__overlay_opened {
  display: block;
  left: 0px;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 1;
  background-color: black;
  opacity: 0.2;
}

.header__link-in {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0 auto;
  text-decoration: none;
  color: inherit;
  font-family: "Inter";
  font-weight: 400;
  font-style:normal;
  font-size: 18px;
  line-height: auto;
  align-items: center;
}

  .header__links-in_opened {
    display: block;
    width: 520px;
    height: 1024px;
    position: fixed;
    background-color: white;
    z-index: 2;
  }

  .close-menu {
    margin: 22px 0 105px auto;
    padding: 0;
    display: block;
    width: 22px;
    height: 22px;
    border: none;
    background-color: white;
  }

  .header__close-btn {
    width: 100%;
  }

}

  .header__profile {
    margin-top: 11px;
   width: 100px;
   object-fit:contain;
 }

 .header__burger {
    margin: 15px 15px 0 80%;
    max-width: 44px;
    width: 100%;
    position: absolute;
    display: block;
    background: white;
    border: none;
 } 



 .header__burger_opened {
  display: none;
} 