.footer {
    margin: 0 auto;
    width: 100%;
    max-width: 1280px;
    background-color: #FAFAFA ;
    font-family: "Inter";
    font-weight: 400;
    font-style:normal;
    font-size: 13px;
    line-height: auto;
}

.footer__project {
    margin: 0 auto;
    max-width: 1140px;
    border-bottom: 1px solid #E8E8E8;
    padding-top: 67px;
    padding-bottom: 20px;
    color: #A0A0A0;
}

.footer__links {
    max-width: 1140px;
    display: flex;
    margin: 0 auto;
    padding: 19px 0;
    align-items: center;
}

.footer__date {
    margin: auto auto auto 0;
}

.footer__link {
    margin-left: 20px;
    text-decoration: none;
    color: #000000;
}